<div [formGroup]="monitorForm">
  <div class="form-group m-0">
    <label for="envName">Name</label>
    <input type="text" class="form-control" id="envName" formControlName="name">
    <small [hidden]="monitorForm.controls.name.valid" class="text-danger">
      Name is required
    </small>
  </div>
  <div class="form-group">
    <label for="delay">Delay (ms)</label>
    <input type="text" class="form-control" id="delay" formControlName="delay">
  </div>
  <div formGroupName="request">
    <h4>Request Details</h4>
    <div class="form-group m-0">
      <label for="path">Path</label>
      <input type="text" class="form-control" id="path" formControlName="path">
    </div>
    <div class="form-group m-0">
      <label for="method">Method</label>
      <select class="custom-select" id="method" formControlName="method" >
        <option *ngFor="let methodName of methodOptions" [value]="methodName">{{methodName}}</option>
      </select>
    </div>
  </div>
</div>