<h1>Hero Form</h1>
<form novalidate (ngSubmit)="onSubmit(app.value)" [formGroup]="app">
  <div class="form-group">
    <label for="name">Application Name</label>
    <input type="text" id="name" formControlName="name" #spy>
    <small class="alert alert-danger" *ngIf="app.get('name').hasError('required') && app.get('name').touched">Name is required</small>
    <small class="alert alert-danger" *ngIf="app.get('name').hasError('minlength') && app.get('name').touched">Name must be >= 2 characters</small>
    Remove this: {{spy.className}}
  </div>
  <button type="submit" class="btn btn-success" [disabled]="app.invalid">Submit</button>
  <button type="button" class="btn btn-default" (click)="app.reset()">Reset Form</button>
  Current Model: {{diagnostic}}
</form>

