<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><strong>Current Application:</strong> {{currApp.name}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li *ngFor="let app of applications">
          {{app.name}}
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="applications != null && applications.length < 3">
    <p>Not many applications - want to add more? </p>
  </div>
</div>